/* @font-face {
    font-family: "noto-naskh-arabic";
    src: url("/fonts/NotoNaskhArabic-VariableFont_wght.otf") format("truetype");
    
}
.my-custom-font {
    font-family: "noto-naskh-arabic", sans-serif;
  
} */
